.searchContainer {
    position: relative;
    width: 100%; /* Full width for responsiveness */
    height: 2.5rem;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.searchInput {
    width: calc(100% - 8px); /* Adjusted width to include padding */
    border: none;
    height: 95%;
    padding: 8px 276px 7px 34px;
}

.searchInput:focus {
    outline: none;
}

.searchInput::placeholder {
    color: #8E8E8E;
}

.searchIcon {
    position: absolute;
    left: 8px;
    color: #8E8E8E;
}